body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
color: #40514E;
  }
h1
{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-top: 50;
  color:  #66BFBF;

}
h2
{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color:  #66BFBF;
font-weight: normal;
}
 h3
{
  font-family: 'Montserrat', sans-serif;
color: #11999E;
}
.top-container
{
  background-color: #e3fdfd;
}
.middle-container
{

}
.bottom-container
{

}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.profile-image
{
  width: 25;
}
.code-image
{
  width: 25;
}
.chilly-image
{
  width: 25;
  float: right;
}

.pro
{
  text-decoration: underline;
}
.top-cloud
{

}
.bottom-cloud
{
  position: absolute;
}
